.main-container {
    position: relative;
    margin: auto;
    padding: 50px;
    text-align: center;
}

.play-btn {
    z-index: 10;
    position: absolute;
    top: 320px;
    left: 46%;
    width: 9em;
    opacity: .8;
}

.play-btn:hover {
    width: 9.5em;
    opacity: 1;
    cursor: pointer;
}

#vid,
.vid-seekbar {
    width: 900px;
}

.vid-seekbar {
    margin: -5px auto 0;
    height: 30px;
    overflow: hidden;
    background-color: #bababa;
}

.inside-seekbar {
    width: 0%;
    height: inherit;
    background-color: green;
}

.question {
    position: absolute;
    top: 730px;
    left: 500px;
    width: 20px;
    border: 1px blue solid;
    border-radius: 100%;
}

.quiz-div{
    position: absolute;
    top: 120px;
    left: 650px;
    width: 0px; /* to be 500 px */
    height: 0px; /* to be 400 px */
    padding: 0px; /* to be 50 px */
    font-size: 30px;
    background-color: aliceblue;
    border: 1px blue solid;
    overflow: hidden;
}

.entered-ans{
    width: 100px;
    font-size: 30px;
    direction: rtl;
    text-align: center;
    border: 0px;
}

.check-ans-btn {
    font-size: 20px;
}

.score-div{
    position: absolute;
    top: 500px;
    left: 1220px;
    width: 150px;
    height: 150px;
    padding: 40px 10px 0;
    font-size: 50px;
    border: 3px #000 solid;
    border-radius: 100%;
}
.score-span{
    margin: 0;
}

.feedback{
    margin: 10px;
}

.wrong-ans:before{
    content: 'إجابة خاطئة ✘';
    padding-bottom: 5px; 
    color: red;
}

.correct-ans:before{
     content: 'إجابة صحيحة ✔';
    padding-left: 5px;
    color: #019b01;
}